<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Logs</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">
            Learning Logs
        </a> <br>
        <a href="{% url 'topics' %}">
            Tópicos
        </a> <br>
        {% if user.is_authenticated %}
            <p>
                Olá, {{ user.username }}!
            </p>
            <a href="{% url 'logout' %}">
                Sair
            </a>
        {% else %}
        <a href="{% url 'login' %}">
            Entrar
        </a> <br>
        <a href="{% url 'register' %}">
            Registrar-se
        </a>
        {% endif %}

    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
    
    <footer>
        <p>
            Learning logs 2026 - todos os direitos reservados
        </p>
    </footer>
</body>
</html>