{% extends "learning_logs/base.html" %}

{% block content %}

<h2>Tópico: {{ topic }} </h2>
<h3>Anotações: </h3>
<ul>
    {% for entry in entries %}
    <li>
        {{ entry.date_added | date:"M d, Y H:i" }}
        {{ entry.text | linebreaks }} <br>
        <a href="{% url 'edit_entry' entry.id %}">
            Editar Anotação
        </a> - 
        <a href="{% url 'delete_entry' entry.id %}">
            Excluir Anotação
        </a>
    </li>
    {% empty %}
    <li>
        Não há anotações aqui...
    </li>
    {% endfor %}
</ul>
<a href="{% url 'new_entry' topic.id %}">
    Adicionar anotação
</a> <br>
<a href="{% url 'delete_topic' topic.id %}">
    Deletar Tópico
</a>
{% endblock content %}